@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="TourDeFrance" ng-cloak>
<head>
    <title>Tour de France</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="" />
    <meta name="author" content="Sebastien Pierre" />
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")">

    @Html.Partial("Partial/CssReferences")

</head>
<body layout="column">
    <div layout="row" flex>
        <div ui-view="header">
            <span us-spinner="{lines:17, width:10, length: 0, radius: 40, trail: 60}" spinner-key="loader-spinner"></span>
            <div ui-view>
                <!-- Content loaded by Angularjs ui-router -->
            </div>
        </div>
    </div>

    <footer class="footer">
        Tour de France - v.@typeof(TourDeFrance.Core.Context).Assembly.GetName().Version.ToString(3)
    </footer>

    @Html.Partial("Partial/JavascriptReferences", typeof(TourDeFrance.Core.Context).Assembly)
</body>
</html>