@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="" ng-cloak>
<head>
    <title>Tour de France</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="" />
    <meta name="author" content="Deployments Factory" />
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")">

    @Html.Partial("Partial/CssReferences")

</head>
<body>
    <div class="wrapper">
        <div class="top-bar navbar-fixed-top" ui-view="header">
            <!-- Content loaded by Angularjs ui-router -->
        </div>

        <!-- BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <!-- left sidebar -->
                    <div class="col-md-2 left-sidebar minified" ng-class="{'minified':$root.sidebarMinified}" ui-view="menu">
                        <!-- Content loaded by Angularjs ui-router -->
                    </div>
                    <!-- end left sidebar -->
                    <!-- content-wrapper -->
                    <span us-spinner="{lines:17, width:10, length: 0, radius: 40, trail: 60}" spinner-key="loader-spinner"></span>
                    <div class="col-md-10 content-wrapper" ng-class="{'expanded':$root.sidebarMinified}" ui-view>
                        <!-- Content loaded by Angularjs ui-router -->
                    </div>
                    <!-- /content-wrapper -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- END BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
    </div>
    <!-- /wrapper -->
    <!-- FOOTER -->
    <footer class="footer">
        Tour de France - v.@typeof(TourDeFrance.Core.Context).Assembly.GetName().Version.ToString(3)
    </footer>
    <!-- END FOOTER -->

    @Html.Partial("Partial/JavascriptReferences", typeof(TourDeFrance.Core.Context).Assembly)

</body>
</html>