<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ui-sref="root.management.drinks.create">
	<md-tooltip><span translate>Add</span></md-tooltip>
	<md-icon md-font-icon="fa fa-fw fa-plus"></md-icon>
</md-button>

<!-- TODO: extract style in sass file -->
<div class="md-padding" layout="row" layout-wrap>
	<md-card style="width: 300px;" ng-repeat="drink in drinkController.drinks">
		<md-card-content layout="row" layout-align="space-between">

			<div layout="column">
				<h2 style="overflow: hidden; text-overflow: ellipsis; width: 100%; white-space: nowrap;">{{drink.name }}</h2>
				<h4><span translate>Volume</span> : {{drink.volume}} cl</h4>
				<h4><span translate>ABV</span> : {{drink.alcoholByVolume}} %</h4>
			</div>
			
			<md-card-actions layout="column" layout-align="end end">
				<md-button class="md-icon-button" aria-label="Edit">
					<md-tooltip><span translate>Edit</span></md-tooltip>
					<md-icon md-font-icon="fa fa-fw fa-pencil"></md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="Delete" ng-click="drinkController.deleteDrink(drink.id)">
					<md-tooltip><span translate>Delete</span></md-tooltip>
					<md-icon md-font-icon="fa fa-fw fa-trash"></md-icon>
				</md-button>
			</md-card-actions>
		</md-card-content>
	</md-card>
</div>